@page "/pedidos/{number}/confirmar"
@inherits ConfirmOrderPaymentPage

@if (Order is null && Order?.Status == EOrderStatus.Paid)
{
    <h1>Pedido Confirmado com sucesso!</h1>
}
else
{
    <h1>Ops, algo deu errado!</h1>
}